*{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.body{
    width:100%;
    font-family: Times;
}
.start{
    background-color: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 54px;
    padding-top: 26px;
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(3px);
}
.news{
    margin-left: 76px;
}
.true{
    position: absolute;
    right: 80px;
}
.step2{
    margin-top: 141px;
    margin-left: 76px;
    width: 94.5%;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.zhabysqaq{
    position: sticky;
    background-color: #f4f4f4;
    width: calc(100% - 104px - 74px - 274px);
    height: 380px;
    top: 100px;
    margin-left: 104px;
    padding: 27px 0 0 27px;
}

.kartochka{
    width: 274px;
    height: 1200px;
}
.kartochka1{
    height: 367px;
    background-color: #F4F4F4;
    margin-bottom: 30px;
    padding-top: 13px;
}
.zhabu{
    font-size: 18px;
    margin-left: 216px;
}
.aty{
    font-size: 32px;
    margin-left: 24px;
}
.loreem{
    margin: 33px 19px 0 24px;
}
.kartochka2{
    background-color: #F4F4F4;
    margin-bottom: 30px;
    height: 367px;
    padding-top: 13px;
}
.kartochka3{
    background-color: #F4F4F4;
    padding-top: 13px;
    height: 367px;
}
.line{
    border: 1px solid #DCDCDC;
    width: calc(100% - 76px - 74px);
    margin-left: 76px;
    margin-top: 73px;
}
.step3{
    width: calc(100% - 97px - 80px);
    height: 591px;
    margin-left: 97px;
    margin-top: 77px;
}
.ulken{
    text-align: center;
    font-size:60px;
}
.sozder{
    width: 100%;
    height: 276px;
    margin-top: 26px;
    font-size:40px;
}
.mil{
    margin-top: 109px;
    font-size:18px;
}
.full{
    color: #fff;
    background-color: #3455FF;
    padding: 19px 48px 19px 49px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
}

.step4{
    width: calc(100% - 103px);
    height: 471px;
    background-color: #F4F4F4;
    margin-top: 60px;
    padding-left: 103px;
}
.sony1{
    padding-top: 77px;
}
.sony2{
    margin-top: 33px;
}
.uhuhuh{
    margin-top: 252px;
    font-size: 16px;
}