*{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.body{
    width:1728px;
    height:2613px;
    font-family: Times;
}
.start{
    background-color: #F4F4F4;
    width: 1728px;
    height: 54px;
    padding-top: 26px;
    font-weight: 400;
}
.news{
    margin-left: 76px;
}
.true{
    margin-left: 1076px;
    margin-right: 80px;
}
.step2{
    margin-top: 61px;
    margin-left: 76px;
    width: 1578px;
    height: 1200px;
}
.zhabysqaq{
    position: sticky;
    background-color: #F4F4F4;
    width: 1200px;
    height: 380px;
    top: 0;
    float: right;
}
.kartochka{
    width: 274px;
    height: 1200px;
    float: left;
}
.kartochka1{
    height: 367px;
    background-color: #F4F4F4;
    margin-bottom: 30px;
    padding-top: 13px;
}
.zhabu{
    font-size: 18px;
    margin-left: 216px;
}
.aty{
    font-size: 32px;
    margin-left: 24px;
}
.loreem{
    margin: 33px 19px 0 24px;
}
.kartochka2{
    background-color: #F4F4F4;
    margin-bottom: 30px;
    height: 367px;
    padding-top: 13px;
}
.kartochka3{
    background-color: #F4F4F4;
    padding-top: 13px;
    height: 367px;
}
.line{
    border: 1px solid #DCDCDC;
    width: 1578px;
    margin-left: 76px;
    margin-top: 73px;
}
.step3{
    width: 1572px;
    height: 591px;
    margin-left: 76px;
    margin-top: 77px;
}
.ulken{
    text-align: center;
    font-size:60px;
}
.sozder{
    width: 1545px;
    height: 276px;
    margin-top: 26px;
    margin-left: 21px;
    font-size:40px;
}
.mil{
    margin-top: 109px;
    margin-left: 21px;
    font-size:18px;
}
.full{
    color: #fff;
    background-color: #3455FF;
    padding: 19px 48px 19px 49px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 21px;
    border: none;
}

.step4{
    width: 1728px;
    height: 471px;
    background-color: #F4F4F4;
    margin-top: 60px;
}
.sony1{
    margin-left: 103px;
    padding-top: 77px;
}
.sony2{
    margin-left: 103px;
    margin-top: 33px;
}
.uhuhuh{
    margin-left: 103px;
    margin-top: 252px;
    font-size: 16px;
}